<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

    </head>
    <body>


        <div id='circle'></div>
        <div class='over'></div>
        <div id='nav-bar'>
            <span class='nav' data-link='main' id='nav-main'> <img src='images/cuelogo2.png'> </span>
            <span class='nav' data-link='overview' id='nav-overview'>Healthcare</span>
            <span class='nav' data-link='mission' id='nav-team'>Mission</span>
            <span class='nav' data-link='team' id='nav-team'> Makers</span>
            <span class='nav' data-link='research' id='nav-research'>Research</span>
            <span class='nav' data-link='design' id='nav-design'>Design</span>
        </div>
        <div id='scrolldown'>scroll<br><img src='/images/scrolldown.png'></div>

        <section id='research' style='display:block'>

            <div id='map-overlay'>
                <div id='rtitle'>
                    <h1>Research<span class='dot'>.</span></h1>
                    <p>The research phase of the project took a total of three months </p>
                    <p> We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear </p>
                    <p>understanding of our users.</p>
                </div>
                <div id='map'></div>
            </div>

            <div class='subsec'>
                <div class='sub-img'>
                    <img src='/images/research/diary2.jpg'>
                </div>
                <div class='sub-text'>
                    <h2>Understanding Our User</h2>
                    <h3>How we got to know our user better.</h3>
                    <p>he research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>
                </div>
                <!-- <div class='sub-img'><img src='images/person-icon.svg'></div> -->
            </div>

            <div class='subsecmini'>
                <div class='sub-img small flip'>
                    <img src='/images/lit.png'>
                </div>

                <div class='sub-text flip'>
                    <h2>Literature Review</h2>
                    <h3>Understanding the academic research that's been already done.</h3>
                    <p>the research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>
                </div>


                <!-- <div class='sub-img'><img src='images/person-icon.svg'></div> -->
            </div>


            <div class='subsecmini'>
                <div class='sub-img small'>
                    <img src='/images/cards.png'>
                </div>

                <div class='sub-text'>
                    <h2>Card Sorting</h2>
                    <h3>Understanding the academic research that's been already done.</h3>
                    <p>the research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>
                </div>
            </div>


            <div class='subsecmini'>
                <div class='sub-img small flip'>
                    <img src='/images/lit.png'>
                </div>

                <div class='sub-text flip'>
                    <h2>Surveys</h2>
                    <h3>Understanding the academic research that's been already done.</h3>
                    <p>the research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>
                </div>
            </div>

            <div class='subsecmini'>
                <div class='sub-img small'>
                    <img src='/images/interviews.png'>
                </div>

                <div class='sub-text'>
                    <h2>Interviews</h2>
                    <h3>Understanding the academic research that's been already done.</h3>
                    <p>the research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>
                </div>
            </div>

            <div class='subsecmini'>
                <div class='sub-img small flip'>
                    <img src='/images/diary.png'>
                </div>

                <div class='sub-text flip'>
                    <h2>Diaries</h2>
                    <h3>Understanding the academic research that's been already done.</h3>
                    <p>the research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>
                </div>
            </div>

            <div class='subsecmini'>
                <div class='sub-img small'>
                    <img src='/images/observations.png'>
                </div>

                <div class='sub-text'>
                    <h2>Observations</h2>
                    <h3>We sit in waiting rooms and observe people for fun. Don't you??</h3>
                    <p>the research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>
                </div>
            </div>


                <!-- <div class='sub-img'><img src='images/person-icon.svg'></div> -->
            </div>



                <!-- <div class='sub-img'><img src='images/person-icon.svg'></div> -->
            </div>


        </section>

        <section id='research'>

            <div id='map-overlay'>
                <div id='rtitle'>
                    <h1>Research</h1>
                    <p>The research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users.</p>
                </div>
                <div id='map'></div>
            </div>

            <div id='scrolldown'>scroll<img src='/images/scrolldown.png'></div>

            <div id='info-text'>
                
                <div><h2 id='ttitle'>Literature Review</h2>
                    <p id='text'>he research phase of the project took a total of three months and involved extensive interviews, competitive analysis, and literature review. We traveled to 8 hospitals in Pittsburgh and Philadelphia to gain a clear understanding of our users</p>

                </div>

            </div>
            <div id='info-user'><img src='/images/person-icon.svg'></div>

        </section>



        <script type='text/template' id='overview-template'>
       <!--   <div id='background'> <%- background %> </div>
            <div id='problem'> <%- problem %> </div>
            <div id='goal'> <%- goal %> </div> -->
        </script>

        <script type='text/template' id='teammate-template'>
           <!--     <div class='teammate1'>
                <div id='tname'> <%-name%> </div>
                <div id='tposition'> <%-position%> </div>
                <div id='tdesc'> <%-description%> </div>
            </div> -->
            <!-- <img src='images/img1.jpg'> -->

        </script>

        <script type='text/template' id='research-template'>
                <% for (i in tools) { %>
                <div id='<%-(tools[i].tools).replace(/ /g,"")%>' class='toolsec'>
                    <h2>
                        <hr>
                        <%-tools[i].tools%> 
                    </h2>
                    <br>
                    <p id='tool'> <%-tools[i].description%> </p>
                </div>
                <% } %>
        </script>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>

            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/q/q.js"></script>
        <script src="bower_components/peppercms/peppercms.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/content.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <script type='text/javascript'>
        App.initResearch();
        </script>

</body>
</html>
